<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center text-success">Custom Validation Form</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <input type="text" name="" id="" class="form-control my-2" placeholder="Username......"
                            formControlName="username">
                        <!-- custom uppercase validation apply with username input field -->
                        @if(myForm.get('username')?.touched && myForm.get('username')?.errors?.['required']){
                        <span class="text-danger">*Username Is Required</span>
                        }
                        @if(myForm.get('username')?.touched && myForm.get('username')?.errors?.['uppercase']){
                        <span class="text-danger">*Username Must Be Uppercase</span>
                        }

                        <input type="text" name="" id="" class="form-control my-3" placeholder="moviename......"
                            formControlName="moviename">

                        <!-- custom lowercase validation apply with moviename input field -->
                        @if(myForm.get('moviename')?.touched && myForm.get('moviename')?.errors?.['required']){
                        <span class="text-danger">*Moviename Is Required</span>
                        }@else if(myForm.get('moviename')?.touched && myForm.get('moviename')?.errors?.['lowercase']){
                        <span class="text-danger">*Only lowercase letters are allowed</span>
                        }


                        <button type="submit" class="btn btn-success btn-sm my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>